/* En forside lidt ala en avis med nyheder og appetizers til hvad siden ellers byder på. */

/* Kolding som designby */

/* Seværdigheder */

/* Foreningsliv */
#association-life {
  max-width: 1200px;
  margin: 0 auto;
}

#association-life img {
  height: 670px;
}

#smalltext {
  font-size: 15px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Gågaden */

/* Trafik */

/* Historiske bygninger */

/* Havnen */

/* "At bo i Kolding" */

/* Børneliv */

/* Geografisk have */

/* Natteliv */

/* Danmark */
#danmark {
  max-width: 1200px;
  margin: 0 auto;
}

#danmark img {
  height: 670px;
}

#smalltext {
  font-size: 15px;
  margin-left: 100px;
  margin-right: 100px;
}
